<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="icon.png">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
  </label>
  <p id="themeinfo">{{themes.unset}}</p>
</div>

    <div class="main">
    <form action="/" method="POST">
    <p name="subject">{{subject}}</p>
    <input type="text" id="link" name="link" placeholder="{{enterlink}}" required>
    <button name="shorten" type="submit">➤</button>
    </form>
    <br>
    <p name="note">{{{output}}}</p>
    </div>

    <script src="script.js"></script>
</body>
</html>
